@font-face {
    font-family: starWars;
    src: url("Starjout.ttf");
}

body {
    margin: 0;
    color: #ffe81f;
    font-family: "starWars";
    letter-spacing: 3px;
    text-shadow: -1px -1px 35px white;
    }

#logo{
    width: 100px;
    display: block;
    margin: 0 auto;

}

.word{
    border-bottom: 1px solid white;
}

.text{
    text-align: center;
    background-image: url("slike/space.gif");
    background-size: cover;
    padding: 10px 0 30px;
}

button{
    padding: 3px 10px;
    font-size: 18px;
    color: white;
    background: navy;
    border: none;
    font-family: inherit;
    }

.terms{
    text-align: center;
    background-image: url("slike/space.jpg");
    padding: 1px;
    }